In [11]:
import pandas as pd

In [12]:
weather_data = pd.read_json('data/weather_output_met.json')
weather_data_oslo = weather_data[weather_data['city'] == 'Oslo']
weather_data_stockholm = weather_data[weather_data['city'] == 'Stockholm']

In [13]:
weather_data_oslo = weather_data_oslo.iloc[0]
weather_data_stockholm = weather_data_stockholm.iloc[0]

In [14]:
weather_data_oslo_dict = weather_data_oslo['weather_data']
weather_data_stockholm_dict = weather_data_stockholm['weather_data']

In [15]:
timeseries_oslo = weather_data_oslo_dict['properties']['timeseries']
timeseries_stockholm = weather_data_stockholm_dict['properties']['timeseries']

In [16]:
oslo_df = pd.json_normalize(timeseries_oslo)
stockholm_df = pd.json_normalize(timeseries_stockholm)

In [17]:
# oslo_df.to_csv('data/weather_data_oslo_met.csv', index=False)
# stockholm_df.to_csv('data/weather_data_stockholm_met.csv', index=False)

In [18]:
oslo_df.isna().sum()
stockholm_df.isna().sum()

time                                               0
data.instant.details.air_pressure_at_sea_level     0
data.instant.details.air_temperature               0
data.instant.details.cloud_area_fraction           0
data.instant.details.relative_humidity             0
data.instant.details.wind_from_direction           0
data.instant.details.wind_speed                    0
data.next_12_hours.summary.symbol_code            12
data.next_1_hours.summary.symbol_code             31
data.next_1_hours.details.precipitation_amount    31
data.next_6_hours.summary.symbol_code              6
data.next_6_hours.details.precipitation_amount     6
dtype: int64

In [19]:
oslo_df

,time,data.instant.details.air_pressure_at_sea_level,data.instant.details.air_temperature,data.instant.details.cloud_area_fraction,data.instant.details.relative_humidity,data.instant.details.wind_from_direction,data.instant.details.wind_speed,data.next_12_hours.summary.symbol_code,data.next_1_hours.summary.symbol_code,data.next_1_hours.details.precipitation_amount,data.next_6_hours.summary.symbol_code,data.next_6_hours.details.precipitation_amount
0,2024-08-19T12:00:00Z,1012.8,19.4,40.5,36.7,220.5,3.2,partlycloudy_day,partlycloudy_day,0.0,partlycloudy_day,0.0
1,2024-08-19T13:00:00Z,1012.7,20.1,44.6,36.2,211.4,3.9,partlycloudy_day,partlycloudy_day,0.0,partlycloudy_day,0.0
2,2024-08-19T14:00:00Z,1012.8,20.1,5.1,38.6,203.5,4.9,cloudy,clearsky_day,0.0,partlycloudy_day,0.0
3,2024-08-19T15:00:00Z,1012.6,20.1,34.9,39.0,194.0,5.6,cloudy,fair_day,0.0,partlycloudy_day,0.0
4,2024-08-19T16:00:00Z,1012.7,19.1,82.3,47.4,182.5,5.9,cloudy,partlycloudy_day,0.0,partlycloudy_night,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
80,2024-08-28T06:00:00Z,1020.4,13.2,100.0,92.6,194.4,2.1,partlycloudy_day,NaN,NaN,cloudy,0.0
81,2024-08-28T12:00:00Z,1020.4,18.8,97.3,73.9,204.7,2.9,partlycloudy_day,NaN,NaN,cloudy,0.0
82,2024-08-28T18:00:00Z,1019.5,17.7,32.8,78.2,190.2,2.8,lightrainshowers_night,NaN,NaN,fair_night,0.0
83,2024-08-29T00:00:00Z,1019.6,14.0,69.5,91.9,158.3,2.1,NaN,NaN,NaN,rainshowers_night,2.3
84,2024-08-29T06:00:00Z,1021.3,14.1,100.0,97.2,38.5,2.2,NaN,NaN,NaN,NaN,NaN

In [20]:
#get rid of all columns containing 'symbol_code' as it is not relevant for db
oslo_df_mod = oslo_df[oslo_df.columns.drop(list(oslo_df.filter(regex='symbol_code')))]
stockholm_df_mod = stockholm_df[stockholm_df.columns.drop(list(stockholm_df.filter(regex='symbol_code')))]

In [21]:
oslo_df_mod

,time,data.instant.details.air_pressure_at_sea_level,data.instant.details.air_temperature,data.instant.details.cloud_area_fraction,data.instant.details.relative_humidity,data.instant.details.wind_from_direction,data.instant.details.wind_speed,data.next_1_hours.details.precipitation_amount,data.next_6_hours.details.precipitation_amount
0,2024-08-19T12:00:00Z,1012.8,19.4,40.5,36.7,220.5,3.2,0.0,0.0
1,2024-08-19T13:00:00Z,1012.7,20.1,44.6,36.2,211.4,3.9,0.0,0.0
2,2024-08-19T14:00:00Z,1012.8,20.1,5.1,38.6,203.5,4.9,0.0,0.0
3,2024-08-19T15:00:00Z,1012.6,20.1,34.9,39.0,194.0,5.6,0.0,0.0
4,2024-08-19T16:00:00Z,1012.7,19.1,82.3,47.4,182.5,5.9,0.0,0.0
...,...,...,...,...,...,...,...,...,...
80,2024-08-28T06:00:00Z,1020.4,13.2,100.0,92.6,194.4,2.1,NaN,0.0
81,2024-08-28T12:00:00Z,1020.4,18.8,97.3,73.9,204.7,2.9,NaN,0.0
82,2024-08-28T18:00:00Z,1019.5,17.7,32.8,78.2,190.2,2.8,NaN,0.0
83,2024-08-29T00:00:00Z,1019.6,14.0,69.5,91.9,158.3,2.1,NaN,2.3
84,2024-08-29T06:00:00Z,1021.3,14.1,100.0,97.2,38.5,2.2,NaN,NaN

In [22]:
oslo_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)
stockholm_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)

/tmp/ipykernel_45477/1430730002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oslo_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)
/tmp/ipykernel_45477/1430730002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stockholm_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)

In [23]:
#rename columns to get rid of all categories from the normalization in column name (remove data, instant and details)
oslo_df_mod.columns = oslo_df_mod.columns.str.replace('data.instant.details.', '')
stockholm_df_mod.columns = stockholm_df_mod.columns.str.replace('data.instant.details.', '')

In [24]:
oslo_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)
stockholm_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)

/tmp/ipykernel_45477/274280797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oslo_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)
/tmp/ipykernel_45477/274280797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stockholm_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)

In [25]:
oslo_df_mod = oslo_df_mod.head(24)
stockholm_df_mod = stockholm_df_mod.head(24)

In [28]:
oslo_df_mod.dtypes

time                                  object
air_pressure_at_sea_level            float64
air_temperature                      float64
cloud_area_fraction                  float64
relative_humidity                    float64
wind_from_direction                  float64
wind_speed                           float64
next_1_hours_precipitation_amount    float64
dtype: object

In [29]:
oslo_df_mod = oslo_df_mod.round(2)
stockholm_df_mod = stockholm_df_mod.round(2)

,time,air_pressure_at_sea_level,air_temperature,cloud_area_fraction,relative_humidity,wind_from_direction,wind_speed,next_1_hours_precipitation_amount
0,2024-08-19T12:00:00Z,1012.3,22.1,0.4,35.5,282.9,3.9,0.0
1,2024-08-19T13:00:00Z,1012.6,22.6,3.0,32.1,288.2,3.7,0.0
2,2024-08-19T14:00:00Z,1012.9,23.0,42.0,29.7,282.2,3.4,0.0
3,2024-08-19T15:00:00Z,1013.1,23.0,0.0,28.7,277.5,3.3,0.0
4,2024-08-19T16:00:00Z,1013.6,22.9,0.0,29.4,278.4,3.2,0.0
5,2024-08-19T17:00:00Z,1013.8,22.4,0.0,30.4,274.5,2.8,0.0
6,2024-08-19T18:00:00Z,1014.3,21.6,0.0,32.3,275.5,2.1,0.0
7,2024-08-19T19:00:00Z,1014.8,20.2,0.0,35.4,234.8,1.2,0.0
8,2024-08-19T20:00:00Z,1014.9,18.5,0.0,46.8,209.7,1.9,0.0
9,2024-08-19T21:00:00Z,1015.1,17.4,17.6,56.6,192.8,2.0,0.0
10,2024-08-19T22:00:00Z,1015.5,16.9,89.4,61.4,195.5,2.0,0.0
11,2024-08-19T23:00:00Z,1016.0,16.5,94.7,63.3,211.7,2.2,0.0
12,2024-08-20T00:00:00Z,1016.0,15.7,69.4,62.8,223.6,1.7,0.0
13,2024-08-20T01:00:00Z,1016.1,15.4,98.6,65.4,218.7,1.9,0.0
14,2024-08-20T02:00:00Z,1016.0,14.9,98.8,65.9,224.9,1.6,0.0
15,2024-08-20T03:00:00Z,1016.0,14.4,98.3,64.7,235.5,1.9,0.0
16,2024-08-20T04:00:00Z,1016.0,14.0,97.0,66.6,235.5,1.3,0.0
17,2024-08-20T05:00:00Z,1015.9,15.0,82.7,65.0,157.3,0.7,0.0
18,2024-08-20T06:00:00Z,1015.9,17.1,65.1,59.4,150.3,1.1,0.0
19,2024-08-20T07:00:00Z,1015.9,19.5,65.6,41.7,150.4,2.3,0.0
20,2024-08-20T08:00:00Z,1016.0,21.0,57.2,36.8,166.9,3.6,0.0
21,2024-08-20T09:00:00Z,1015.9,22.2,62.9,37.5,172.2,4.4,0.0
22,2024-08-20T10:00:00Z,1015.8,23.2,64.5,38.1,178.8,4.7,0.0
23,2024-08-20T11:00:00Z,1015.8,23.7,9.9,36.5,180.3,5.0,0.0

In [26]:
oslo_df_mod.to_csv('data/oslo_met.csv', index=False)
stockholm_df_mod.to_csv('data/stockholm_met.csv', index=False)