In [2]:
import pandas as pd

In [3]:
weather_data = pd.read_json('data/weather_output_met.json')
weather_data_oslo = weather_data[weather_data['city'] == 'Oslo']
weather_data_stockholm = weather_data[weather_data['city'] == 'Stockholm']

In [4]:
weather_data_oslo = weather_data_oslo.iloc[0]
weather_data_stockholm = weather_data_stockholm.iloc[0]

In [5]:
weather_data_oslo_dict = weather_data_oslo['weather_data']
weather_data_stockholm_dict = weather_data_stockholm['weather_data']

In [6]:
timeseries_oslo = weather_data_oslo_dict['properties']['timeseries']
timeseries_stockholm = weather_data_stockholm_dict['properties']['timeseries']

In [7]:
oslo_df = pd.json_normalize(timeseries_oslo)
stockholm_df = pd.json_normalize(timeseries_stockholm)

In [ ]:
# oslo_df.to_csv('data/weather_data_oslo_met.csv', index=False)
# stockholm_df.to_csv('data/weather_data_stockholm_met.csv', index=False)

In [8]:
oslo_df.isna().sum()
stockholm_df.isna().sum()

time                                               0
data.instant.details.air_pressure_at_sea_level     0
data.instant.details.air_temperature               0
data.instant.details.cloud_area_fraction           0
data.instant.details.relative_humidity             0
data.instant.details.wind_from_direction           0
data.instant.details.wind_speed                    0
data.next_12_hours.summary.symbol_code            12
data.next_1_hours.summary.symbol_code             31
data.next_1_hours.details.precipitation_amount    31
data.next_6_hours.summary.symbol_code              6
data.next_6_hours.details.precipitation_amount     6
dtype: int64

In [ ]:
oslo_df

In [9]:
#get rid of all columns containing 'symbol_code' as it is not relevant for db
oslo_df_mod = oslo_df[oslo_df.columns.drop(list(oslo_df.filter(regex='symbol_code')))]
stockholm_df_mod = stockholm_df[stockholm_df.columns.drop(list(stockholm_df.filter(regex='symbol_code')))]

In [10]:
oslo_df_mod

,time,data.instant.details.air_pressure_at_sea_level,data.instant.details.air_temperature,data.instant.details.cloud_area_fraction,data.instant.details.relative_humidity,data.instant.details.wind_from_direction,data.instant.details.wind_speed,data.next_1_hours.details.precipitation_amount,data.next_6_hours.details.precipitation_amount
0,2024-08-19T12:00:00Z,1012.8,19.4,40.5,36.7,220.5,3.2,0.0,0.0
1,2024-08-19T13:00:00Z,1012.7,20.1,44.6,36.2,211.4,3.9,0.0,0.0
2,2024-08-19T14:00:00Z,1012.8,20.1,5.1,38.6,203.5,4.9,0.0,0.0
3,2024-08-19T15:00:00Z,1012.6,20.1,34.9,39.0,194.0,5.6,0.0,0.0
4,2024-08-19T16:00:00Z,1012.7,19.1,82.3,47.4,182.5,5.9,0.0,0.0
...,...,...,...,...,...,...,...,...,...
80,2024-08-28T06:00:00Z,1020.4,13.2,100.0,92.6,194.4,2.1,NaN,0.0
81,2024-08-28T12:00:00Z,1020.4,18.8,97.3,73.9,204.7,2.9,NaN,0.0
82,2024-08-28T18:00:00Z,1019.5,17.7,32.8,78.2,190.2,2.8,NaN,0.0
83,2024-08-29T00:00:00Z,1019.6,14.0,69.5,91.9,158.3,2.1,NaN,2.3
84,2024-08-29T06:00:00Z,1021.3,14.1,100.0,97.2,38.5,2.2,NaN,NaN

In [ ]:
oslo_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)
stockholm_df_mod.drop(columns=['data.next_6_hours.details.precipitation_amount'], inplace=True)

In [ ]:
#rename columns to get rid of all categories from the normalization in column name (remove data, instant and details)
oslo_df_mod.columns = oslo_df_mod.columns.str.replace('data.instant.details.', '')
stockholm_df_mod.columns = stockholm_df_mod.columns.str.replace('data.instant.details.', '')

In [ ]:
oslo_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)
stockholm_df_mod.rename(columns={'data.next_1_hours.details.precipitation_amount': 'next_1_hours_precipitation_amount'}, inplace=True)

In [ ]:
oslo_df_mod = oslo_df_mod.head(24)
stockholm_df_mod = stockholm_df_mod.head(24)

In [ ]:
oslo_df_mod.to_csv('data/oslo_met.csv', index=False)
stockholm_df_mod.to_csv('data/stockholm_met.csv', index=False)